{% extends "modeladmin/edit.html" %}

{% block content %}
    {{ block.super }}

    <style>
      @media screen and (min-width: 50em) {
        .content-wrapper {
          width: 55%;
          height: 100vh;
          overflow-y: scroll;
        }

        .content form {
          position: relative;
        }

        .content form .objects .object {
          padding-left: 1em;
          padding-right: 1em;
        }

        .content form .objects .object .field-content {
          width: 100%;
        }

        .content form .objects .object.criteria_panel {
          position: fixed;
          top: 0;
          left: calc(((100% - 200px) * 0.55) + 200px);
          right: 0;
          bottom: 0;
          overflow-y: scroll;
          background-color: #fff;
          padding-left: 0;
          padding-right: 0;
        }

        .content form .objects .object.criteria_panel .multiple {
          width: 100%;
        }

        .content form .objects .object.criteria_panel .multiple > li {
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    </style>
{% endblock %}
