/*
.criteria_panel .object-layout .multiple {
  width: 100%;
  max-width: 100%;
}

.criteria_panel .object-layout .multiple > li {
  padding-right: 4em;
}

.criteria_panel .object-layout .multiple fieldset .fields .multi-field {
  width: 50%;
  float: left;
}
*/

.criteria_panel .object-layout .multiple fieldset .fields .multi-field legend {
  position: static;
  width: auto;
  height: auto;
  font-size: 1.25em;
  font-weight: 700;
  color: #007d7e;
}

.criteria_panel .object-layout .multiple fieldset .fields .field label {
  width: 100%;
}

.criteria_panel .object-layout .multiple fieldset .fields .field .field-content {
  width: 100%;
}
