/* START multi-column checkbox multi select widget */
.w-field--checkbox_select_multiple .w-field__input > div[id] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0 1.5rem;
}

.w-field--checkbox_select_multiple .w-field__input > div[id] > div > label > input {
  flex-shrink: 0;
  align-self: flex-start;
}
/* END multi-column checkbox multi select widget */

/* START multi-column custom tuple checkboxes */
.w-field--labeled_tuple_checkboxes .w-field__input > div[id] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0 1.5rem;
}

.w-field--labeled_tuple_checkboxes .w-field__input > div[id] > div > label > input {
  flex-shrink: 0;
  align-self: flex-start;
}
/* END multi-column custom tuple checkboxes */

/* custom style for clickable links under url inputs */
.w-custom__url-with-link-button {
  display: inline-block;
  margin-top: 0.5rem;
  max-width: 100%;
  text-overflow: ellipsis;
}

/* custom style for custom select all buttons */
.w-custom__select-all-button {
  margin-top: 0.5rem;
}

/* .w-panel__wrapper.w-custom__panel-with-notes .w-field__label[for$="_notes"] {
  background-color: red;
}
.w-panel__wrapper.w-custom__panel-with-notes .w-field__label[for$="_notes"]::before {
  content: ">";
} */

.w-form-width {
  max-width: 960px;
}
.w-panel__wrapper.w-custom__panel-with-notes {
  padding-inline-start: 2rem;
  padding-top: 1.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--w-color-grey-150);
  border-radius: 0.3125rem;
  max-width: 960px;
}
.w-panel__wrapper.w-custom__panel-with-notes.w-custom--2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
}
.w-panel__wrapper.w-custom__panel-with-notes.w-custom--2col > .w-panel__wrapper:nth-child(3) {
  grid-column: 1 / span 2;
}
