appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.6.0
# black==19.3b0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Django==2.2.5
django-cors-headers==3.1.0
django-modelcluster==4.4
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.10.3
draftjs-exporter==2.1.6
drf-writable-nested==0.5.1
html5lib==1.0.1
idna==2.8
Pillow==6.2.2
pytz==2019.2
qrcodegen==1.6.0
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
Unidecode==1.1.1
urllib3==1.25.5
wagtail==2.6.2
webencodings==0.5.1
Willow==1.1
